:root {
    --home-color: rgb(0, 149, 243);
    --certify-color: rgb(226, 6, 6);
    --validate-color: rgb(8, 183, 2);
    --about-color: rgb(226, 214, 0);
}

.nav-router {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px 12px;
    overflow: hidden;
    text-align: center;
    position: relative;
    background-color: rgba(243, 242, 242, 0.95);
}
.nav-router ul {
    /*  border-bottom: 2px solid rgba(47, 44, 44, 0.75); */
}

.nav-router li {
    text-align: center;
    padding: 10px 20px;
    transition: 0.3s;
    margin: 0 20px;
    position: relative;
    display: inline-block;
}

.nav-router a {
    text-decoration: none;
    font-size: large;
    padding: 4px 10px;
    color: rgba(71, 68, 68, 0.89);
}

.nav-router li:nth-child(1):hover a {
    -webkit-transition: all 0.3s;
    border-bottom: 3px solid var(--home-color);
}

.nav-router li:nth-child(2):hover a {
    -webkit-transition: all 0.3s;
    border-bottom: 3px solid var(--certify-color);
}

.nav-router li:nth-child(3):hover a {
    -webkit-transition: all 0.3s;
    border-bottom: 3px solid var(--validate-color);
}

.nav-router li:nth-child(4):hover a {
    -webkit-transition: all 0.3s;
    border-bottom: 3px solid var(--about-color);
}

.nav-router li:nth-child(1) .is-active {
    border-bottom: 3px solid var(--home-color);
}

.nav-router li:nth-child(2) .is-active {
    border-bottom: 3px solid var(--certify-color);
}

.nav-router li:nth-child(3) .is-active {
    border-bottom: 3px solid var(--validate-color);
}

.nav-router li:nth-child(4) .is-active {
    border-bottom: 3px solid var(--about-color);
}
