.certification-section {
    margin-top: 25px;
    padding-bottom: 99%;
    background-color: #fd8d8d;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.5s;
}
